.game__card {
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    width: 100%;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}

.game__card-image {
    min-height: 200px;
    border-radius: 6px;
}

.game__card-title {
    color: #76b900;
}

.game__card-description {
    color: #000;
    padding: 30px;
}

.movies__card-button {
    padding: 0;
    width: 40px;
    height: 22px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    transition: .2s;
    position: absolute;
    top: 14px;
    right: 14px;
    outline: none;
    border-radius: 6px;
}

.movies__card-button_type_false {
    background-color: red;
}

.movies__card-button_type_true {
    background-color: green;
}